* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 1440px;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/* 去除滚动条 */
::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

/* header部分 */
.page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    z-index: 200;
    font-weight: 400;
}

.header-section {
    display: flex;
    align-items: center;
    /* width: 1240px; */
}


.header-logo img {
    width: 135px;
    height: 61px;
    margin-right: 54px;
}

.header-right {
    padding-top: 15px;
    /* flex: 1 1; */
}


.header-right-top {
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.search-input {
    position: relative;
    display: flex;
}

input[type=text]::placeholder {
    color: #c0c8d8;
    font-family: Arial;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    height: 13px;
}

.search-icon img {
    display: block;
    width: 13px;
    height: 100%;
}

.inner-input {
    padding: 0px 15px 0px 30px;
    width: 688px;
    height: 36px;
    line-height: 36px;
    outline: none;
    color: #c0c4d4;
    border: 0;
    background-color: rgb(245, 245, 245);
    border-radius: 4px 0px 0px 4px;
}



.search-btn-container {
    color: rgb(144, 147, 153);
    outline: none;
    border-color: transparent;
    background-color: #d8d8d8;
    border-radius: 0px 4px 4px 0px;

}


.search-btn {
    text-align: center;
    line-height: 36px;
    width: 68px;
    height: 37px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(144, 147, 153);
    border: 0;
    background-color: transparent;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.search-btn-container:hover {
    background-color: rgb(74, 207, 89, 1);
}

.search-btn span:hover {
    color: white;
}


.header-right-top-right {
    width: 105px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color: #1e1e1e;
}

.header-right-top-right:hover {
    opacity: .8;
}

.header-right-bottom {
    display: flex;

    justify-content: space-between;
    padding-top: 19px;
    width: 1051px;
    line-height: 22px;
}

.header-bottom-left {
    display: flex;
}

.header-nav-item {
    display: block;
    padding-bottom: 18px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}

.header-nav-item:not(:nth-child(6)) {
    margin-right: 40px;
}

.header-nav-item:hover {
    color: #0fc700;
}

.header-bottom-item:hover {
    color: rgb(74, 207, 89, 1);
}

.header-bottom-left img {
    width: 20px;
    height: 20px;
}

.header-bottom-right {
    display: flex;
    align-items: center;
}


.header-bottom-item {
    display: flex;
    padding-bottom: 18px;
    margin-left: 40px;
    text-decoration: none;
    color: #858585;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.item-redbeg {
    margin-right: 8px;
    width: 17px;
    height: 20px;
}

.item-community {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}


/* 主体部分 */
.page-mainer {
    min-height: 680px;
}

/* banner部分 */
.banner-section {
    position: relative;
    background-color: #252222;
}

.banner-container {
    width: 100%;
}

/* 轮播图部分 */
.banner-carousel {
    position: relative;
}

.carousel-horizontal {
    position: relative;
}

.carousel-container {
    position: relative;
    height: 380px;
}

.carousel-container-img {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}


.banner-carousel-item {
    display: block;
    padding: 10px 66px;
    height: 100%;
    width: 100%;
    background-size: 1920px 380px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(images/I1iOPrCq0ve7QUzRud3Wxk361vHc8l9FLM5VzzAz.png);
    background-image: url(images/vjUW9OZGtT2koeBO9sNdUvxCSqLauPYYpnmWDWV0.png);
}

.carousel-indicators-outside {
    position: absolute;
    bottom: 26px;
    left: 50%;
    display: flex;
    padding: 0;
    margin-left: -340px;
    z-index: 100;
}

.carousel-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    padding: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.banner-float-ads {
    position: absolute;
    top: 55px;
    right: 50%;
    display: flex;
    flex-direction: column;
    margin-right: -620px;
    z-index: 80;
}

.banner-float-ads-img {
    display: inline-block;
    margin-bottom: 10px;
    width: 210px;
    height: 130px;
    background-image: url(images/LXxQHaDxwhMFDllJXHBlvkV6Js2kfHZEbw07cmeZ.png);
    background-size: 100% 100%;
}



/* 菜单部分 */
.banner-content {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -620px;
    width: 210px;
    height: 360px;
}


.menu-item-arrow img {
    width: 20px;
    height: 20px;
}

.banner-menu-item .menu-item-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    overflow: auto;
    width: 210px;
    height: 40px;
    color: white;
    background-color: rgba(37, 34, 34, 0.5);
}

/* 右箭头 */
.menu-item-nav:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    content: "";
    width: 9px;
    height: 9px;
    background: url(images/c25d52e.svg) no-repeat 0 0;
    background-size: 9px 9px;
}


.banner-menu-item .menu-item-list {
    position: absolute;
    display: none;
    top: 0;
    left: 210px;
    min-height: 360px;
    width: 722px;
    background: #222;
    color: white;
}

.banner-menu-item:hover .menu-item-list {
    display: block;
}

.menu-item-nav:hover {
    background-color: rgba(18, 18, 19, .7);
}


.menu-item-name {
    font-size: 14px;
    font-weight: 400;
}


.menu-catalog-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.menu-catalog-list .menu-catalog-dl {
    width: 722px;
    margin-bottom: 28px;
}

.menu-catalog-list .menu-catalog-dt {
    position: relative;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 20px;
    margin-bottom: 12px;
    padding-left: 10px;
}


.menu-catalog-list .menu-catalog-dl .menu-catalog-dt:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-right: 10px;
    background-color: #d8d8d8;
}

.menu-catalog-dd-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.menu-catalog-list .menu-catalog-dl .menu-catalog-dd-list .menu-catalog-dd {
    position: relative;
    display: inline-flex;
    align-items: center;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

/* 每个项目后面那根竖线 */
.menu-catalog-dd:before {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 14px;
    background: #8c8c8d;
}

.menu-catalog-dd:last-child::before {
    display: none;
}

.menu-catalog-list .menu-catalog-dl .menu-catalog-dd-list .menu-catalog-dd:hover {
    color: #0fc700;
}



/* ads-course课程部分 */
.ads-section-course {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.ads-course-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.course-left {
    display: flex;
    flex-wrap: wrap;
    width: 925px;
}

.course-left-img.git,
.course-left-img.vue {
    margin-right: 20px;
    margin-bottom: 10px;
}

.course-left-img.kafka {
    margin-bottom: 10px;
}

.course-left-img.zookeeper,
.course-left-img.redis {
    margin-right: 20px;
}

.course-left-git {
    width: 295px;
    height: 56px;
    background: url(images/qglpEUpYaqoctLEaGGXqSxzPkFOwlz5UYnhLkZoP.png) center center / 295px 56px no-repeat rgb(180, 182, 195);

}

.course-left-vue {
    width: 295px;
    height: 56px;
    background: url(images/1YrRmGJqxznaBIEEPzWr3GEk0dlZJXrQQEaRR148.png) center center / 295px 56px no-repeat rgb(180, 182, 195);
}

.course-left-kafka {
    width: 295px;
    height: 56px;
    background: url(images/IwSvKLfzcKK3PVP7b6nbZ0YSJZifJfeOxie3Xj7w.png) center center / 295px 56px no-repeat rgb(180, 182, 195);

}

.course-left-zookeeper {
    width: 295px;
    height: 56px;
    background: url(images/mEGFRdbsJkOaXZrzSQ74KDN0NaBnmvTRXXSsN9JI.png) center center / 295px 56px no-repeat rgb(180, 182, 195);
}

.course-left-redis {
    width: 295px;
    height: 56px;
    background: url(images/0dxGFdTInGVivUIAVo9QWmA6NKTKI558ilMZcw0K.png) center center / 295px 56px no-repeat rgb(180, 182, 195);
}

.course-left-operation {
    width: 295px;
    height: 56px;
    background: url(images/H59qIJo99sJVUGtzmCNZs5KYzvjNLs1hVZ4fsV9N.png) center center / 295px 56px no-repeat rgb(180, 182, 195);
}

.course-right {
    display: flex;
    justify-content: space-between;
    width: 295px;
    margin-left: 20px;
}

.course-right-box {
    position: relative;
}

.course-right-img {
    display: inline-block;
    background-size: 100% 100%;
}

.course-right-community {
    width: 142px;
    height: 122px;
    background: url(images/6d3a68e.svg);
}

.course-right-feishu {
    width: 142px;
    height: 122px;
    background: url(images/A9NvGuuLAG40YnSPZw4MEOnNfEB7hDaJTLB8gjP3.png) center center / 142px 122px no-repeat rgb(180, 182, 195);
}


.course-right-code {
    position: absolute;
    bottom: 54px;
    left: -9px;
    display: none;
    width: 160px;
    height: 205px;
    text-align: center;
    background-image: url(images/21ce563.svg);
}

.course-right-code img {
    width: 120px;
    height: 120px;
}

.code-title {
    padding: 15px 0 6px;
    font-size: 11px;
}

.course-right-box:hover .course-right-code {
    display: block;
}

/* ads-main部分 */
.ads-section-main {
    padding: 40px 0;
    background-color: #f5f5f5;
}

.ads-main-container {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
}

.ads-main-left {
    display: block;
    margin-right: 20px;
}

.left-pic {
    width: 295px;
    height: 380px;
    background: url(images/QXMtyqjORyJNJAbrLNkrcw2ksFhyGdBrnOIGiidT.png) center center / 295px 380px no-repeat rgb(180, 182, 195);
}

.ads-main-right-top {
    display: flex;
}

.ads-main-freecourse {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.freecourse-pic {
    width: 295px;
    height: 180px;
    background: url(images/mTow5z4Rc8fzF8rdji6ABmLQyLBeqmPuh36eWQxD.png) center center / 295px 180px no-repeat rgb(180, 182, 195);
}

.ads-main-python {
    display: block;
    margin-bottom: 20px;
}

.python-pic {
    width: 610px;
    height: 180px;
    background: url(images/jLDDtUzJfSywsfeGPcFHldZ3AKGyAvaK1otB8Ih6.png) center center / 610px 180px no-repeat rgb(180, 182, 195);
}

.ads-main-right-bottom {
    display: flex;
}

.ads-main-rookie {
    display: block;
    margin-right: 20px;
}

.rookie-pic {
    width: 610px;
    height: 180px;
    background: url(images/jA77YzZ0nevor9ZFVxMKGtq0pvhRFdeZQJFOOXiF.png) center center / 610px 180px no-repeat rgb(180, 182, 195);
}

.ads-main-vip {
    display: block;
}

.vip-pic {
    width: 295px;
    height: 180px;
    background: url(images/AZp2OSBzKtf2ZpRNzabdNVOMgEU5SOLST65uppMf.png) center center / 295px 180px no-repeat rgb(180, 182, 195);
}

/* ads-wrist部分 */
.ads-section-wrist {
    background-color: #303738;
}

.ads-wrist-container {
    max-width: 1440px;
    margin: 0 auto;
}

.wrist-pic-box {
    display: block;
}

.wrist-pic {
    width: 1440px;
    height: 220px;
    background: url(images/1ZPkO79Bx4IeSKLhzT3DtPPGfQJLy7gX0VCvXrd7.png) center center / 1440px 220px no-repeat rgb(180, 182, 195);
}