* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}



.header-section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1240px;
}

.header-logo {
    margin-right: 54px;
    height: 100%;
}

.header-logo img {
    width: 135px;
    height: 61px;
}

.header-right-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.search-input {
    position: relative;
    display: flex;
}

input[type=text]::placeholder {
    color: #c0c8d8;
    font-family: Arial;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.search-icon img {
    width: 13px;
    height: 13px;
}

.inner-input {
    padding: 0px 15px 0px 30px;
    width: 688px;
    height: 36px;
    outline: none;
    color: #c0c4d4;
    border: 0;
    background-color: rgb(245, 245, 245);
    border-radius: 4px 0px 0px 4px;
}



.search-btn-container {
    color: rgb(144, 147, 153);
    outline: none;
    border-color: transparent;
    background-color: #d8d8d8;
    border-radius: 0px 4px 4px 0px;
    border: 0px 1px solid #d8d8d8;
}


.search-btn {
    display: flex;
    justify-content: center;
    line-height: 1;
    align-items: center;
    padding: 12px 20px;
    width: 68px;
    height: 37px;
    border: 0;
    background-color: transparent;
}

.search-btn-container:hover {
    background-color: rgb(74, 207, 89, 1);
}

.search-btn span:hover {
    color: white;
}

.search-btn span {
    font-size: 13px;
    font-family: Arial;
    font-weight: 500;
    color: rgb(144, 147, 153);
}

.header-right-top-right {
    width: 105px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: white;
    background-color: black;
}

.header-right-top-right:hover {
    opacity: .8;
}

.header-right-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    width: 1051px;
}

.header-bottom-left {
    display: flex;
}

.header-nav-item {
    display: block;
    padding-bottom: 18px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.header-nav-item:not(:nth-child(6)) {
    margin-right: 40px;
}

.header-nav-item:hover {
    color: #0fc700;
}

.header-bottom-item:hover {
    color: rgb(74, 207, 89, 1);
}

.header-bottom-left img {
    width: 20px;
    height: 20px;
}

.header-bottom-right {
    display: flex;
    align-items: start;
}


.header-bottom-item {
    display: flex;
    padding-bottom: 18px;
    margin-left: 40px;
    text-decoration: none;
    color: #858585;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    cursor: pointer;
}

.header-redbeg {
    margin-right: 8px;
    width: 17px;
    height: 20px;
}

.header-community {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}